.Education {
  font-family: Arial;
  text-align: center;
}

.Hobbys {
  font-family: Arial;
  text-align: center;
}

.Personaldata {
  font-family: Arial;
  text-align: center;
}

.LanguageSkills {
  font-family: Arial;
  text-align: center;
}

.Schoolinternships {
  font-family: Arial;
  text-align: center;
}

.name {
  color: navy;
  text-align: center;
}

#haha {
  background-color: grey;
  color: gold;
  text-align: center;
}

#huhu {
  background-color: grey;
  color: gold;
  text-align: center;
}

#hehe {
  background-color: grey;
  color: gold;
  text-align: center;
}

#hähä {
  background-color: grey;
  color: gold;
  text-align: center;
}

#hoho {
  background-color: grey;
  color: gold;
  text-align: center;
}

#hühü {
  background-color: grey;
  color: gold;
  text-align: center;
}

img {
  border-radius: 50%;
}

li {
  color: darkorchid;
}

body {
  background-color: lightcoral;
  width: 400px;
margin-left: auto;
margin-right: auto;
}

.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
