.Education {
  font-family: Arial;
}
.Hobbys {  
  font-family: Arial;
}
.Personaldata {
  font-family: Arial;
}
.LanguageSkills {
  font-family: Arial;
}
.Schoolinternships {
  font-family: Arial;
}
.name {
  color: navy;
}
#haha {
  background-color: grey;
  color: gold;
}
#huhu {
  background-color: grey;
  color: gold;
}
#hehe {
  background-color: grey;
  color: gold;
}
#h채h채 {
  background-color: grey;
  color: gold;
}
#hoho {
  background-color: grey;
  color: gold;
}
#h체h체 {
  background-color: grey;
  color: gold;
}

img {
  border-radius: 50%;
}
li {
  color: darkorchid;
}